Repository COMP-353/Web-Career-Portal, pull requests merged in 2020-08, with the labels that each got.

#25 18 create mechanism to verify user credentials and 12 user change their category
  .gitignore
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/UserDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Employer.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/EmployerCategory.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/JobSeeker.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/JobSeekerCategory.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/User.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Backend/webcareerportal/src/main/resources/application.properties
Labels: Back-End

#30 Created tables for JobCategory and JobStatus and added references to job table + functonality to add delete
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/ApplicationController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/JobCategoryController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/JobController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/JobStatusController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/ApplicationDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/JobCategoryDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/JobDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/JobStatusDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Job.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/JobCategory.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/JobStatus.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/ApplicationService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobCategoryService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobStatusService.java
  Backend/webcareerportal/src/main/resources/application.properties
Labels: Back-End

#36 Sign up and check password branch
  Frontend/webcareer/src/pages/Index.vue
  Frontend/webcareer/src/pages/sign-up-employer.vue
  Frontend/webcareer/src/pages/sign-up-jobSeeker.vue
Labels: Front-End

#40 4 activate or deactivate user and mechanism to increase account balance every first day of month
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/WebcareerportalApplication.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/PaymentController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/PaymentDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/UserDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/CheckingAccount.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/CreditCard.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Payment.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/PaymentService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
Labels: Back-End

#45 New endpoints and implementation
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/UserDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
Labels: Back-End

#47 Connect front to backend
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/configuration/WebConfig.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/UserDao.java
  Frontend/webcareer/src/pages/Index.vue
Labels: Back-End, Front-End

#48 3 mecanism for activities
  Backend/webcareerportal/pom.xml
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/ActivityController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/ActivityDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Activity.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/ApplicationService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/PaymentService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/WcpEmailService.java
Labels: Back-End

#49 Connect front to backend
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/User.java
  Frontend/webcareer/src/layouts/MainLayout.vue
  Frontend/webcareer/src/pages/Index.vue
  Frontend/webcareer/src/pages/sign-up-employer.vue
  Frontend/webcareer/src/pages/sign-up-jobSeeker.vue
  Frontend/webcareer/src/router/routes.ts
Labels: Front-End

#50 Connect front to backend
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/UserDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Frontend/webcareer/src/pages/forgotPassword.vue
Labels: Back-End, Front-End

#52 Added vuex and modified job seeker page
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Frontend/webcareer/.eslintrc.js
  Frontend/webcareer/package-lock.json
  Frontend/webcareer/src/pages/Index.vue
  Frontend/webcareer/src/pages/employer.vue
  Frontend/webcareer/src/pages/forgotPassword.vue
  Frontend/webcareer/src/pages/job-seeker.vue
  Frontend/webcareer/src/pages/sign-up-employer.vue
  Frontend/webcareer/src/router/index.ts
  Frontend/webcareer/src/router/routes.ts
  Frontend/webcareer/src/store/index.ts
  Frontend/webcareer/src/store/module-example/actions.ts
  Frontend/webcareer/src/store/module-example/getters.ts
  Frontend/webcareer/src/store/module-example/index.ts
  Frontend/webcareer/src/store/module-example/mutations.ts
  Frontend/webcareer/src/store/module-example/state.ts
Labels: Back-End, Front-End

#53 EMERGENCY: bugs fixing
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Frontend/webcareer/src/pages/Index.vue
Labels: Back-End, Front-End, bug

#54 Bugs fixes when trying the forgot password feature
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/configuration/WebConfig.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
Labels: Back-End

#55 Admin page done
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/HelpController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/HelpDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/UserDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Help.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/HelpService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobCategoryService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Frontend/webcareer/src/pages/Index.vue
  Frontend/webcareer/src/pages/admin.vue
  Frontend/webcareer/src/router/routes.ts
Labels: Front-End

#59 Fixed some bugs and new ui improvements
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/configuration/WebConfig.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Employer.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/JobSeeker.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/User.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Backend/webcareerportal/src/main/resources/application.properties
  Frontend/webcareer/src/pages/Index.vue
  Frontend/webcareer/src/pages/employer.vue
  Frontend/webcareer/src/pages/job-seeker.vue
Labels: Back-End, Front-End, bug

#74 Refactoring
  Frontend/webcareer/src/components/EHeader.vue
  Frontend/webcareer/src/components/JSHeader.vue
  Frontend/webcareer/src/layouts/MainLayout.vue
  Frontend/webcareer/src/pages/EIssues.vue
  Frontend/webcareer/src/pages/JSJobPostings.vue
  Frontend/webcareer/src/pages/JSProfile.vue
  Frontend/webcareer/src/pages/addjob.vue
  Frontend/webcareer/src/pages/addpayment.vue
  Frontend/webcareer/src/pages/admin.vue
  Frontend/webcareer/src/pages/employer.vue
  Frontend/webcareer/src/pages/job-seeker.vue
  Frontend/webcareer/src/pages/listofjobs.vue
Labels: Front-End, enhancement

#75 Refactored payments and other into smaller components
  Frontend/webcareer/src/components/CheckingAccount.vue
  Frontend/webcareer/src/components/CreditCard.vue
  Frontend/webcareer/src/components/JSHeader.vue
  Frontend/webcareer/src/components/MakePayment.vue
  Frontend/webcareer/src/pages/JSProfile.vue
  Frontend/webcareer/src/pages/addpayment.vue
Labels: Front-End, enhancement

#77 Test
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/JobController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Job.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Frontend/webcareer/src/pages/addjob.vue
Labels: Back-End, bug

#78 Payments working!!!!!!!!!!!!!!!!!
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/PaymentController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/PaymentDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/models/Payment.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/PaymentService.java
  Frontend/webcareer/src/components/AddCheckingAccount.vue
  Frontend/webcareer/src/components/AddCreditCard.vue
  Frontend/webcareer/src/components/CheckingAccount.vue
  Frontend/webcareer/src/components/CreditCard.vue
  Frontend/webcareer/src/components/EHeader.vue
  Frontend/webcareer/src/components/JSHeader.vue
  Frontend/webcareer/src/components/MakePayment.vue
  Frontend/webcareer/src/pages/JSProfile.vue
  Frontend/webcareer/src/pages/addpayment.vue
Labels: Back-End, Front-End, enhancement

#80 Users can now change their passwords
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/UserController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Frontend/webcareer/src/components/ChangePassword.vue
  Frontend/webcareer/src/pages/JSProfile.vue
  Frontend/webcareer/src/pages/addpayment.vue
  Frontend/webcareer/src/pages/admin.vue
Labels: Back-End, Front-End, enhancement

#83 Test
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/UserService.java
  Frontend/webcareer/src/components/ChangePassword.vue
  Frontend/webcareer/src/pages/addpayment.vue
Labels: Back-End, Front-End

#85 icons for password tabs
  Frontend/webcareer/src/pages/JSProfile.vue
  Frontend/webcareer/src/pages/addpayment.vue
Labels: Front-End, enhancement

#89 Test
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/JobController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/JobCategoryDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/JobStatusDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobService.java
  Frontend/webcareer/src/components/AddCreditCard.vue
  Frontend/webcareer/src/components/ChangePassword.vue
  Frontend/webcareer/src/components/CheckingAccount.vue
  Frontend/webcareer/src/components/CreditCard.vue
  Frontend/webcareer/src/components/MakePayment.vue
  Frontend/webcareer/src/pages/EIssues.vue
  Frontend/webcareer/src/pages/Index.vue
  Frontend/webcareer/src/pages/JSJobPostings.vue
  Frontend/webcareer/src/pages/JSProfile.vue
  Frontend/webcareer/src/pages/addjob.vue
  Frontend/webcareer/src/pages/addpayment.vue
  Frontend/webcareer/src/pages/admin.vue
  Frontend/webcareer/src/pages/employer.vue
  Frontend/webcareer/src/pages/forgotPassword.vue
  Frontend/webcareer/src/pages/job-seeker.vue
  Frontend/webcareer/src/pages/listofjobs.vue
  Frontend/webcareer/src/pages/sign-up-employer.vue
  Frontend/webcareer/src/pages/sign-up-jobSeeker.vue
Labels: Back-End, Front-End, bug, enhancement

#92 Reports for Users
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/ActivityController.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/ActivityDao.java
  Backend/webcareerportal/src/main/resources/application.properties
  Frontend/webcareer/src/components/EHeader.vue
  Frontend/webcareer/src/components/JSHeader.vue
  Frontend/webcareer/src/components/Reports.vue
  Frontend/webcareer/src/pages/EReports.vue
  Frontend/webcareer/src/pages/JSReports.vue
  Frontend/webcareer/src/pages/employer.vue
  Frontend/webcareer/src/pages/job-seeker.vue
  Frontend/webcareer/src/router/routes.ts
Labels: Back-End, Front-End, enhancement

#94 Added crossorigin to allow for all incoming requests
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/controller/HelpController.java
Labels: Back-End, bug, enhancement

#96 fixed job seekers bug when applying to jobs with plan
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/ApplicationDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/JobDao.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/ApplicationService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobService.java
  Frontend/webcareer/src/components/Reports.vue
  Frontend/webcareer/src/pages/JSJobPostings.vue
Labels: Front-End, bug

#97 fixed issue to get only open issues
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/HelpDao.java
Labels: Back-End, bug

#98 fixed the bug
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/dao/ApplicationDao.java
Labels: Back-End, bug

#100 Fixed some bugs when adding job or application
  ;
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/ApplicationService.java
  Backend/webcareerportal/src/main/java/com/comp353/webcareerportal/service/JobService.java
  Backend/webcareerportal/src/main/resources/application.properties
Labels: Back-End, bug
